In [18]:
import pandas as pd

In [154]:
import http.client
import json

conn = http.client.HTTPSConnection("api.quran.com")

payload = "{}"

conn.request("GET", "/api/v4/chapters?language=en", payload)

res = conn.getresponse()
data = res.read().decode("utf-8")

# Parse the response data as JSON into a dictionary
data_dict = json.loads(data)

In [155]:
rows  = []
for chapter in data_dict["chapters"]:
    rows.append(chapter)

In [156]:
df = pd.DataFrame(rows)

In [158]:
df["revelation_place"] = df["revelation_place"].str.capitalize()

In [159]:
df["pages"] = df["pages"].astype(str)

In [161]:
items_to_remove = ["[", ",", " ", "]"]
page_start_list = []
page_end_list = []
for i in df['pages'][4:]:
    i = list(i)
    i.remove("[")
    i.remove(",")
    i.remove(" ")
    i.remove("]")
    for sublist in i[:3]:
        page_start_list.append(sublist)
    for sublist in i[3:]:
        page_end_list.append(sublist)
page_start_list = [int(''.join(page_start_list[i:i+3])) for i in range(0, len(page_start_list), 3)]  
page_end_list = [int(''.join(page_end_list[i:i+3])) for i in range(0, len(page_end_list), 3)]

[106, 128, 151, 177, 187, 208, 221, 235, 249, 255, 262, 267, 282, 293, 305, 312, 322, 332, 342, 350, 359, 367, 377, 385, 396, 404, 411, 415, 418, 428, 434, 440, 446, 453, 458, 467, 477, 483, 489, 496, 499, 502, 507, 511, 515, 518, 520, 523, 526, 528, 531, 534, 537, 542, 545, 549, 551, 553, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 575, 577, 578, 580, 582, 583, 585, 586, 587, 587, 589, 590, 591, 591, 592, 593, 594, 595, 595, 596, 596, 597, 597, 598, 598, 599, 599, 600, 600, 601, 601, 601, 602, 602, 602, 603, 603, 603, 604, 604, 604]
[127, 150, 176, 186, 207, 221, 235, 248, 255, 261, 267, 281, 293, 304, 312, 321, 331, 341, 349, 359, 366, 376, 385, 396, 404, 410, 414, 417, 427, 434, 440, 445, 452, 458, 467, 476, 482, 489, 495, 498, 502, 506, 510, 515, 517, 520, 523, 525, 528, 531, 534, 537, 541, 545, 548, 551, 552, 554, 555, 557, 559, 561, 564, 566, 568, 570, 571, 573, 575, 577, 578, 580, 581, 583, 584, 585, 586, 587, 589, 589, 590, 591, 592, 592, 594, 594, 595, 596, 596, 596, 597, 597, 598, 599, 599, 600, 600, 600, 601, 601, 601, 602, 602, 602, 603, 603, 603, 604, 604, 604]

In [162]:
page_start_list = [1] + [2] + [50] + [77] + page_start_list

In [163]:
page_end_list = [1] + [49] + [76] + [106] + page_end_list

In [164]:
df["Start_Page_Number"] = page_start_list
df["End_Page_Number"] = page_end_list

In [167]:
df = df.rename(columns={"id":"Surah_Number",
                        "revelation_place": "Place_of_Revelation",
                        "revelation_order":"Order_of_Revelation",
                        "bismillah_pre":"Pre_Bismillah",
                        "name_simple":"Name(simple)",
                        "name_complex":"Name(complex)",
                        "name_arabic"  :"Name(Arabic)",
                        "verses_count":"Verse_Count",
                        "pages": "Pages",
                        "translated_name":"Translated_Name(English)",
                        })

In [175]:
df["Translated_Name(English)"] = df["Translated_Name(English)"].astype(str)

In [186]:
df["Translated_Name(English)"] = [value.replace("{'language_name': 'english', 'name': '", "") for value in df["Translated_Name(English)"]]

In [190]:
df["Translated_Name(English)"] = [value.replace("'}", "") for value in df["Translated_Name(English)"]]

In [192]:
df.to_csv("Chapters_df.csv")